<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <script src="../static/js/bootstrap.min.js"></script>
      
    </head>
    <body>

        <div class="container">
            <div class="jumbotron">
              <h1>Weather - A Five Day Forecast</h1> 
              <p>Enter your city:</p> 
              <form action = "/plot.png" method = "POST">
                <p><input type = "text" name = "city" /></p>        
                <p><input type = "submit" value = "Submit" /></p>
              </form>
            </div>
          </div>

      
    </body>
</html>