<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <script src="../static/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container" align="middle">
    <div class="jumbotron">
      <h1>Five Day Forecast of {{ city }} </h1>

      <div class="container">
        <img src=plot.png class="img-rounded" alt="Weather Forecast" width="600" height="600"> 
      </div>

      <form action="/info" method="GET" >
        <p>
          <input type="submit" value="Back" />
        </p>
      </form>
    </div>
  </div>


</body>

</html>